body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #918e8e;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
header {
  background-color: #212222;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
}

span {
  font-size: 20px;
  color: #6d6b6b;
}
  
.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 70px;
}

p {
  line-height: 0.3;
}
  
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.reset {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
button:hover {
  background-color: #00b336;
}
  
button.reset:hover {
  background-color: rgb(189, 161, 5);
}

input {
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px
}

footer {
  background-color: #212222;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  margin-top: 20px;
}

footer p {
  margin: 0;
}
